/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@import "primeicons/primeicons.css";

body {
    background-color: white;
    color: black;
    margin: 1rem;
}

input,textarea {
    background-color: transparent !important;
    color: black !important;
    border: 1px solid black !important;
}

table {
    tr {
        td {
            background-color: white !important;
            color: black;
        }
    }
}
